td
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #DDDDDD;
}
th, table.method th
{
	color: #FFCC33;
}
body
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #333399;
	color: #999999;
}
a:link
{
	color: lightblue;
}
a:visited
{
	color: red;
}
a:active
{
	color: red;
}
a
{
	color: #ADD8E6;
	text-decoration: none;
	border-bottom-width: medium;
}
a:hover
{
	color: #FBC631;
	text-decoration: underline;
}
pre
{
	font-size: 12px;
}
b
{
	color: #F08080;
}

table.method
{
	border: 1px solid white;
	width: 100%;
	cellspacing: 0px;
	border-collapse: collapse;
	font-size: 12px;
}

th.method
{
	background-color: maroon;
	border: 1px solid white;
	font-size: 14px;
}

td.property
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #F08080;
	width: 25%;
	vertical-align: top;
	border: 1px solid white;
	padding: 2px;
}

td.value
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 75%;
	border: 1px solid white;
	padding: 2px;
}
h3
{
	color: #FBC631;
}
h4
{
	color: #FBC631;
	font-style: italic;
}
p.faq
{
	color: #CCCCCC;
}