td {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #DDDDDD}
th {  color: #FFCC33}
body {  font-family: Arial, Helvetica, sans-serif; font-size: 10px}
a {  color: #ADD8E6; text-decoration: none; border-bottom-width: medium}
a:hover {  color: #FBC631; text-decoration: underline}
pre {  font-size: 12px}
b {  color: #F08080}
