name: UOX3 Build

on:
  push:

    paths-ignore:
      - '**.js'
      - '**.dfn'
      - '**.scp'
      - '**.txt'
      - '**.html'
      - '**.md'
      - '**.html'
      - '**.sln'
      - '**.vcxproj'
      - '**.xcodeproj'

  pull_request:
    paths-ignore:
      - '**.js'
      - '**.dfn'
      - '**.scp'
      - '**.txt'
      - '**.html'
      - '**.md'
      - '**.html'
      - '**.sln'
      - '**.vcxproj'
      - '**.xcodeproj'

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    strategy:
      matrix:
         os: [ubuntu-latest, windows-latest, macos-13]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3
      with: 
         submodules: true
    - name: Configure CMake
      # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
      run: cmake make/cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} 

    - name: Build
      # Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}


