name: Linux x64 Build

on:
  push:
    paths-ignore:
      - '**.js'
      - '**.dfn'
      - '**.scp'
  pull_request:
    paths-ignore:
      - '**.js'
      - '**.dfn'
      - '**.scp'
      
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: prepare automake
      run: chmod +x automake.sh
    - name: automake
      run: ./automake.sh
