name: Windows x64 Build
on:
  push:
    paths-ignore:
      - '**.js'
      - '**.dfn'
      - '**.scp'
  pull_request:
    paths-ignore:
      - '**.js'
      - '**.dfn'
      - '**.scp'
jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: setupt msvc console
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x64
      - name: cmake and build
        run: |
          cmake make/cmake -DCMAKE_BUILD_TYPE=Release -G"NMake Makefiles" 
          cmake --build . --config Release
