name: Windows x64 Build
on:
  push:
    paths-ignore:
      - '**.js'
      - '**.dfn'
      - '**.scp'
      - '**.txt'
      - '**.html'
      - '**.sln'
      - '**.vcxproj'
  pull_request:
    paths-ignore:
      - '**.js'
      - '**.dfn'
      - '**.scp'
      - '**.txt'
      - '**.html'
      - '**.sln'
      - '**.vcxproj'

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
            submodules: recursive
      - name: setup msvc console
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x64
      - name: cmake and build
        run: |
          cmake make/cmake -DCMAKE_BUILD_TYPE=Release -G"NMake Makefiles" 
          cmake --build . --config Release
